.container {
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.pt-1 {
  padding-top: 0.5rem;
}
.pt-2 {
  padding-top: 1rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 0.5rem;
}
.mr-2 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}
.text-bold {
  font-weight: bold;
}

.btn {
  background-color: transparent;
  color: #f5f4f4;
  outline: none;
  border: 2px solid #f5f4f4;
  padding: 0.8rem 3rem !important;
  font-size: 1.2rem;
}

.heading {
  font-size: 2.5rem;
  font-weight: 700;
}

p {
  margin: 1rem 0;
  line-height: 1.5;
}

.form-control {
  display: inline-block;
  width: 100%;
  background-color: transparent;
  color: #f5f4f4;
  outline: none;
  border: 2px solid #f5f4f4;
  padding: 0.5rem 3rem !important;
  font-size: 1.2rem;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.text-right {
  text-align: right;
}
